[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bysykkel"]
	path = bysykkel
	url = https://github.com/imangr/bysykkel
	shallow = true
	registered = true
[submodule "frostr"]
	path = frostr
	url = https://github.com/imangr/frostr
	shallow = true
	registered = true
