[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bysykkel"]
	path = bysykkel
	url = https://github.com/imangr/bysykkel
[submodule "frostr"]
	path = frostr
	url = https://github.com/imangr/frostr
